@import "../../../index.scss";
.memegenerator__container {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin-bottom: 1rem;
    &-box {
        border: 2px solid #000000;
        padding: 0.5rem;
        // height: 30rem;
    }
    &-box-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-box-left-img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40rem;
        max-height: 30rem;
    }
    &-box-right {
        &__upload {
            padding: 0.5rem;
        }
        &-btnholder {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 0;
        }
    }
}