@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$bg_color: #ddd;
$sidebar_color: #c6ffc1;
$blue: #1890ff;
$gray: gray;
$simple-alert: #ebebeb;
$success-alert: #a8f0c6;
$danger-alert: #f7a7a3;
$warning-alert: #ffd48a;