.card__container {
    width: 300px;
    height: fit-content;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    break-inside: avoid;
    &-img {
        width: 100%;
        object-fit: cover;
    }
}

.ant-card {
    height: fit-content !important;
}